<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/users/signin">Passion Day</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <%# Usuario autenticado %>
        <%if (user) {%>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ads"
              >Anuncios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ads/add">Nuevo anuncio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Cerrar sesión</a>
          </li>
        </ul>

        <%}else{ %>
        <%# Usuario autenticado %>
            <%console.log(user)%>
        <%# Usuario NO autenticado %>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/users/signup" class="nav-link">Register</a>
          </li>
          <li class="nav-item">
            <a href="/users/signin" class="nav-link">Login</a>
          </li>
        </ul>
        <%}%>

        <%# Usuario NO autenticado %>

      </div>
    </div>
  </div>
</nav>
