
    <%- include('../partials/head'); %>
  
    <!-- Incluye el Navbar -->
    <%- include('../partials/header') %>

    <!-- Contenido dinámico -->
    <div class="jumbotron mt-4">
        <h1 class="display-4">Passion day NodeJs and Mongodb</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste modi minus labore neque id sit?</p>
        <hr class="my-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, ex.</p>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>


    <%- include('../partials/footer') %>

